.loans__info
{
    font-family: 'Inter';
    align-items: center;
    justify-content: center;
    
    
    
    
}

.loans__info h1
{
    color:white;
    
    text-align: center;
    align-items: center;
    

}